.footer
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding: 24px 32px
  background: #F2F2F2
  @media (max-width: 727px)
    padding: 16px 16px

.button
  padding: 15px 21px
  background: #F7FAFF
  border-radius: 6px
  font-family: 'Roboto'
  font:
    weight: 700
    size: 16px
  line-height: 18px
  text-transform: uppercase
  color: #6699FD
  border: none
  @media (max-width: 727px)
    padding: 12px 16px
    font-size: 14px
    line-height: 16px
