@font-face
  font-family: 'Roboto'
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal
@font-face
  font-family: 'Roboto'
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'Inter'
  src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal
@font-face
  font-family: 'Inter'
  src: url('./assets/fonts/Inter-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal
@font-face
  font-family: 'Inter'
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

*, body
  margin: 0
  padding: 0
  font-family: 'Inter'
  font-weight: 400
  box-sizing: border-box

body>div
  min-height: 100vh
  overflow: hidden

.main
  max-width: 1440px
  width: 100%
  margin: 0 auto
  padding: 104px 24px 124px
  @media (max-width: 727px)
    padding: 0 16px

